<div>
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Symbol</th>
      <th>Name</th>
      <th>Add to portfolio</th>
    </tr>
    </thead>
    <tbody id="stocksTable">
    <% @stocks.each do |stock|%>
      <% if stock.name != ""%>
        <tr>
          <td><%= link_to stock.ticker, stock_path(stock.ticker) %></td>
          <td><%= stock.name %></td>
          <% if current_user.stocks.exists?(id: stock.id) %>
            <% if current_user.under_stocks_limit? %>
              <td><button class="btn btn-secondary" disabled >Is Added</button></td>
            <% else %>
              <td><%= button_to "Remove", user_stock_path(stock), method: :delete, class: "btn btn-danger" %></td>
            <% end %>
          <% else %>
            <% if current_user.under_stocks_limit?%>
             <td><%= button_to "Add to...", user_stocks_path(stock_id: stock.id), method: :post, class: "btn btn-primary" %></td>
            <% else %>
              <td><button class="btn btn-secondary" disabled >Add to...</button></td>
            <% end %>
          <% end %>
        </tr>
      <% end %>
    <% end %>
    </tbody>
  </table>
</div>
