<div id="<%= dom_id stock %>">
  <p>
    <strong>Ticket:</strong>
    <%= stock.ticket %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= stock.name %>
  </p>

  <p>
    <strong>Last price:</strong>
    <%= stock.last_price %>
  </p>

</div>
