<p style="color: green"><%= notice %></p>

<div >
  <h1>Stocks</h1>

  <input type="text" id="searchInput" class="form-control mb-3" placeholder="Buscar por ticker..." onkeyup="filterStocks()">

  <%= render 'stocks_list' %>
</div>

<script>
  funtion filterStocks(){
      let input = document.getElmentById('searchInput').value.toLowerCase();
      let table
  }
</script>