<div class="container-fluid">
  <nav class="navbar navbar-expand-lg bg-light">
    <div class="container d-flex justify-content-between">
      <a class="navbar-brand" href="/">
        <h3>Finance Tracker</h3>
      </a>
        <div class="collapse navbar-collapse "  id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <%= link_to "Stocks", stocks_path, class: "nav-link" %>
          </ul>
        </div>

    </div>
  </nav>
</div>